@{
    var username = ViewContext.HttpContext.Session.GetString("Username");
}

@if (string.IsNullOrEmpty(username))
{
    <a href="/account/login" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
        <i class="zmdi zmdi-account-circle"></i>
    </a>
}
else
{
    <a class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11" href="#">
        <img src="https://ui-avatars.com/api/?name=@username" class="rounded-circle" style="width: 30px; height: 30px;">
    </a>
    <!-- Các icon khác -->
    <a href="@Url.Action("Logout", "Account")" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
        <i class="fa fa-sign-out"></i>
    </a>

}
