@using FoodStore.Models.ViewModel
@model LoginVM
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="p-t-120 p-b-120">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username">Tài khoản</label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Mật khẩu</label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mt-2">Bạn chưa có tài khoản ? <a href="/account/register">Đăng ký tại đây</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}