<div id="page-content-wrapper">
    <div class="container-fluid justify-content-center">
        <h1 class="mt-5">Trang quản trị</h1>
        <p>Bạn đang ở trang quản trị FoodStore</p>
    </div>
</div>