<div class="p-t-120 p-b-120">
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Về Chúng tôi
						</h3>

						<p class="stext-113 cl6 p-b-26">
							S Garden là nhà hàng đầu tư chỉn chu về chất lượng và dịch vụ. Nó được trang trí bằng những đồ vật quen thuộc với cuộc sống đời thường của người việt như ngói, tre, sen,… Mỗi góc phòng đều trang trí tỉ mỉ và mang lại không gian như nhà. Bạn có thể thưởng thức hơn 200 món ăn truyền thống Việt tại đây
						</p>

						<p class="stext-113 cl6 p-b-26">
							S garden tọa lạc tại số 98 đường Nguyễn Huệ, Quận 1, đồng thời nó là thương hiệu Việt đi tiên phong trong việc mang hương vị quê hương lên một tầm cao mới.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Gọi cho chúng tôi bất cứ lúc nào
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/lib/images/nhahang.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Về nhà hàng của chúng tôi
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Nhà hàng Âu hướng tới những thực khách là người phương Tây và là sự lựa chọn với các vị khách có nhu cầu tìm hiểu ẩm thực Tây Âu. Đây cũng là nhà hàng phục vụ ăn sáng buffet với trên 50 món cho toàn bộ khách hàng lưu trú tại Khách sạn.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Đồ ăn nhanh không hẳn là KFC hay Burger, đó có thể là món ăn do bạn tự chế biến, các món địa phương, món Âu hay món Á…
							</p>

							<span class="stext-111 cl8">
								- Lê Mạnh Tuấn - Chủ nhà hàng
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.5532195291403!2d106.79161107583887!3d10.845462757914925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527157c90def5%3A0x8cfc6a3a0cf54e6d!2zTMOqIFbEg24gVmnhu4d0LCBUaOG7pyDEkOG7qWMsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1720476150379!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
